scipy
numpy
matplotlib
vpython
https://github.com/crossbario/autobahn-python/archive/master.zip
pybullet
# casadi
# slycot  
control
pyyaml
mujoco==2.3.7
mujoco-python-viewer
gym==0.26.2
tqdm
seaborn
